*{
    padding: 0;
    margin: 0;

}
main{
    background: #2e2d2d;
}
.labelmail{
    color: azure;
}
.labelsenha{
    color: azure;
}
.bloco{
        
    margin: 0 auto;
      background-color: black;
      border-radius: 10px;
      margin-left: 10vp;
      

.campo-label{
   text-align: center; 
   margin-top: 40px;
}
    

}
.butao-enviar{
display: flex;
justify-content: center;
align-items: center;
margin: auto;


}










