
  

    <form (ngSubmit)="receberDados()">
      <div class="bloco">
      <div class="campo-label">
        <label class="labelmail"for="email">email </label>
        <input  class="inputmail"type="email" name="email" placeholder="Ex.:email@gmail.com"[(ngModel)]="userModel.email">
      </div>

      <div class="campo-label">
        <label  class="labelsenha"for="senha">senha </label>
        <input class="inputsenha"type="password" name="password" id="senha" placeholder="Sua senha aqui..."[(ngModel)]="userModel.password">
      </div>
      <button class="butao-enviar">Enviar</button>
     </div>
    </form>
    <p id="mensagem" *ngIf="mensagem != ''">{{mensagem}}</p>



